<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wanderlust</title>
  </head>
  <body>
    <h3>Listing Details :</h3>
    <ul>
      <li><%= listing.title %></li>
      <li><%= listing.description %></li>
      <li>&#8377; <%= listing.price.toLocaleString("en-IN") %></li>
      <li><%= listing.location %></li>
      <li><%= listing.country %></li>
    </ul>
    <br />
    <a href="/listings/<%= listing._id %>/edit">Edit this Listing</a>
    <br /><br />
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button>Delete this listing</button>
    </form>
    <div class="col-8 offset-3 nb-3">
      <hr/>
      <h4>Leave a Review</h4>
      <form action="/listings/<%=listing._id%>/reviews" method="POST">
        <div class = "nb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
          <input type="range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
          class="form-range"/>
        </div>
      <div class = "nb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
      <textarea
      name="review[comment]"
      id="comment"
      cols="30"
      rows="5"
      class="form-control"
      ></textarea>
    </div>
    <button class="btn btn-outline-dark">SUBMIT</button>
  </form>
</div>
  </body>
</html>